<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpbfr2D6Z9Mdn-jEo7Lj4lKDY5SGf2rRw</string>
	<key>GCM_SENDER_ID</key>
	<string>489381656720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcode.org.cabrera</string>
	<key>PROJECT_ID</key>
	<string>cabreraautosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cabreraautosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489381656720:ios:ecad971a7424f7885f0015</string>
</dict>
</plist>